*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
font-family: 'Roboto', sans-serif;
font-weight: 500;
background-color: black;
}

.flex{
    display: flex;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.circle{
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.red{
    background-color: #FC615D;
}

.orange{
    background-color: #FDBC40;
}

.green{
    background-color: #33C749;
}

.nav{
    background-color: #DEDFDE;
    width: 100%;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 0px;
    color: #666462;

}

.window{
    flex-grow: 1;
    justify-content: space-evenly;
}

.room_id{
    flex-grow: 90;
    text-align: center;
    padding-right: 100px;
}

.speaker_btn{
    color: gray;
    margin-top: 20px;
    vertical-align: middle;
    justify-content: flex-end;
    padding-right: 50px;
}

.speaker_view img{
    vertical-align: top;
    padding-right: 5px;
    width: 20px;
    filter: brightness(2);
}

.speaker_view{
    background-color: #333333;
    color: lightgray;
    padding: 9px 8px;
    border-radius: 6px;
    margin-right: 10px;
}

.fullscreen{
    background-color: #333333;
    border-radius: 6px;
    padding: 0px 6px;
}

.fullscreen img{
    filter: brightness(100);
    width: 35px;
}

.main_container{
    color: white;
}

.main_container aside,
.main_container .partecipants{
    float: left;
}

.main_container aside{
    width: 10%;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.main_container .partecipants{
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
}

aside h3{
font-weight: 400;
}

aside h2{
    font-size: 4rem;
}

.right h2{
    color: #39BBFC;
}

.img_container img{
    /* width: 295px;
    min-height: 166.19px;
    max-height: 166.19px; */
    width: 295px;
    height: 166px;
}

.img_container{
    position: relative;
    padding-top: 5px;
}

.img_container .name{
    position: absolute;
    bottom: 4px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.466);
    padding-right: 6px;
}


